<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830880558901-9glebpudh84br0uev2vpnknkkk8kre4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830880558901-9glebpudh84br0uev2vpnknkkk8kre4h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>830880558901-hl4nfmn2n8e0ec97fodnbjjcc6qnmsdq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6AKgZZp4MA5B5dii-gFI7T_FY2aO_MNY</string>
	<key>GCM_SENDER_ID</key>
	<string>830880558901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-e4d5c</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-e4d5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830880558901:ios:a830de17daaa6a97ace67c</string>
</dict>
</plist>